{% extends "site_base.html" %}

{% block submenu %}{% endblock %}
{% block settings %}{% endblock %}
{% block header %}
<div id="wrapper">
<!-- Header -->
<div id="header">
        {% if user.is_authenticated %}
        <span style="float:right;"> Welcome {{ user.username }} / <a href="{% url job_board.views.logout %}">Logout</a> / <a href="/accounts/profile">settings</a> / <a href="#">Help</a><br />
        <small>Last logged in at <strong> {{ user.last_login }} </strong> ( CST ) </small> </span>
        {% else %}
            <span style="float:right;"> Welcome Guest! / <a href="/accounts/login">Login</a> / <a href="#">Help</a><br /></span>

        {% endif %}

        <!--div><img src="{{ MEDIA_URL }}images/newlogo.png" width="367" height="142" class="logo" alt="Put Logo Here" /> </div-->
        <div style="padding-left:30px; padding-top:50px; font-size:48pt; font-weight: bold; font-family: verdana">One Job Board</div>
</div>
<!-- Header -->
{% endblock %}
{% block menu %}
<!-- Menu -->
<div id="menu">
        <ul id="navmenu">
                <li style="float:right;" class="current"><a href="http://www.onechurchhome.org">Visit Site</a></li>
                <li><a href="{% url job_board.views.index %}" title="Free CSS Menus">Dashboard</a></li>
                    <li><a href={% url job_board.views.job_list %}>Job List</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="/admin/job_board" target="new">System Settings</a> </li>
                    {% endif %}
        </ul>
</div>
<!-- Menu -->
{% endblock %}

{% block left_column %}
{% if flash %}
 <!-- Success Box -->
<div class="success"><span>{{ flash }}</span></div>
<!-- Success Box -->
{% endif %}
<div id="mainbox">

        <div class="boxcontainer"> <a href="{% url job_board.views.job_list %}"><img src="{{ MEDIA_URL }}icons/cart.jpg" width="71" alt="Alternate Text"  height="71" title="your title" class="box_thumb" /></a>
                <h4><a href="{% url job_board.views.job_list %}">Jobs</a></h4>
                Browse all current Job Postings </div>
        <div class="boxcontainer"> <a href="{% url job_board.views.company_list %}"><img src="{{ MEDIA_URL }}icons/cart.jpg" width="71" alt="Alternate Text"  height="71" title="your title" class="box_thumb" /></a>
                <h4><a href="{%  url job_board.views.company_list %}">Companies</a></h4>
                All Companies that have job postings . </div>
       {% if user.is_authenticated %}
        <div class="boxcontainer"> <a href="{% url job_board.views.job_edit %}"><img src="{{ MEDIA_URL }}icons/gallery.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
                <h4><a href="{% url job_board.views.job_edit %}">Post a Job</a></h4>
                Submit a new Job Posting. </div>
        <div class="boxcontainer"> <a href="/admin/job_board" target="new"><img src="{{ MEDIA_URL }}icons/home.jpg" alt="Alternate Text" width="71" height="71" title="your title" class="box_thumb" /></a>
                <h4><a href="/admin/job_board">Settings</a></h4>
                Administrator Settings </div>
        {% endif %}
</div>

<!-- Left Column -->
{% endblock %}

{% block right_column %}

{% block sidemenu %}
<div class="notes">
<h2>Quick Links</h2>
<div id="sidebarmenu">

<ul>
{% if user.is_authenticated %}
<li><a href="{% url job_board.views.job_edit %}">Add New Job</a></li>
<li><a href="{% url job_board.views.job_list %}">View Jobs</a></li>
<li><a href="{% url job_board.views.company_list %}">View Jobs by Company</a></li>
<li><a href="{% url job_board.views.company_edit %}">Add New Company</a></li>
<li><a href="/admin/job_board" target="new">Admin</a></li>
{% else %}
<li><a href="{% url job_board.views.job_list %}">View Jobs</a></li>
<li><a href="{% url job_board.views.company_list %}">View Jobs by Company</a></li>
{% endif %}
</ul>

</div>
</div>

{% endblock %}


{% block notes %}
<!-- Notes / Articles Box -->
<div class="notes"><h2>Job News</h2>

<p>Here we can put links to ther websites and news</p>

</div>
 <div class="notes">
 <h2>RSS Feed</h2>
 <p>We'll put an RSS feed here</p>

<ul>
    <li><a href="#">Item One</a></li>
    <li><a href="#">Item Two</a></li>
    <li><a href="#">Item Three</a></li>
</ul>
</div>
        <!-- Notes / Articles Box -->
    {% endblock %}
</div>
<!-- Content -->
{% endblock %}