{% extends "job_board/index.html" %}

{% block more_head %}
    <style type="text/css">
            <!--
                .oneColElsCtr #container {
                width: 46em;
                background: #FFFFFF;
                margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
                border: 1px solid #000000;
                text-align: left; /* this overrides the text-align: center on the body element. */
                }
                .oneColElsCtr #mainContent {
                padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
                }
            -->
        </style>
    {{form.media}}

{% endblock %}

{% block left_column %}
        <div id="container">
            <div id="mainContent">
                <h1>Job Post</h1>
            {% if form.errors %}
                <div id="form-error">
	            <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
	            <ul>
	            {% for field in form %}
                    {% if field.errors %}
	                <li>{{ field.name }}: {{ field.errors|striptags }}</li>
                    {% endif %}
	            {% endfor %}
	            </ul>
                </div>
            {% endif %}
                <form id="form1" name="form1" method="post" xaction="test_handler" action="">
                    {{ form.as_p }}
                        <input type="submit" name="submit" id="submit" value="Submit" />
                {% csrf_token %}
                </form>
                <p>&nbsp;</p>
                <!-- end #mainContent --></div>
            <!-- end #container --></div>
        <script type="text/javascript">
            <!--
                var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
                var sprytextfield1 = new Spry.Widget.ValidationTextField("sprytextfield1", "none", {validateOn:["blur"]});
                var sprytextfield2 = new Spry.Widget.ValidationTextField("sprytextfield2", "none", {validateOn:["blur"]});
                var sprytextarea1 = new Spry.Widget.ValidationTextarea("sprytextarea1", {validateOn:["blur"], minChars:5});
                var sprytextfield3 = new Spry.Widget.ValidationTextField("sprytextfield3", "none", {validateOn:["blur"]});
                var sprytextfield4 = new Spry.Widget.ValidationTextField("sprytextfield4", "none", {validateOn:["blur"]});
                var sprytextfield5 = new Spry.Widget.ValidationTextField("sprytextfield5", "email", {validateOn:["blur"]});
                var sprytextfield6 = new Spry.Widget.ValidationTextField("sprytextfield6", "none", {validateOn:["blur"], hint:"1+555-555-5555"});
                var sprytextfield7 = new Spry.Widget.ValidationTextField("sprytextfield7", "none", {validateOn:["blur"]});
                var sprytextfield8 = new Spry.Widget.ValidationTextField("sprytextfield8");
                var sprytextarea2 = new Spry.Widget.ValidationTextarea("sprytextarea2", {validateOn:["blur"]});
                var sprycheckbox1 = new Spry.Widget.ValidationCheckbox("sprycheckbox1");
                var spryselect1 = new Spry.Widget.ValidationSelect("spryselect1");
                //-->
        </script>
{% endblock %}
